/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import 'izitoast/dist/css/iziToast.css';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.hidden {
  display: none;
}

.loader {
  color: blue;
}

.error {
  color: red;
}

.cat-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.cat-info img {
  max-width: 300px;
}

.cat-details {
  margin-left: 20px;
}

.cat-temperament {
  margin-top: 10px;
}

.cat-name {
  margin-bottom: 10px;
}

.cat-image[src=""] {
  display: none;
}

.loader {
  width: 300px;
  height: 16px;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #bebebe;
  border-radius: 4px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 75%, transparent);
  font-size: 30px;
  background-size: 1em 1em;
  box-sizing: border-box;
  animation: barStripe 1s linear infinite;
}

@keyframes barStripe {
  0% {
    background-position: 1em 0;
  }
  100% {
    background-position: 0 0;
  }
}
